$primary-bg-color: #18212c;
$primary-bg-color-transparent: rgba(37, 24, 44, 0.8);
$secondary-bg-color: #304c3e;
$secondary-bg-color-transparent: rgba(48, 56, 76, 0.8);
$text-color: #fff;
$accent-color: #8081c0;
$accent-dark-color: #4e8c4f;
$link-color: #33b86f;
$success-color: rgb(6, 43, 13);
$success-secondary-color: rgb(13, 82, 34);
$danger-color: rgb(43, 6, 6);
$danger-secondary-color: rgb(82, 13, 13);
$logo-color: rgb(116, 231, 251);
$primary-font: "Neuton", serif;
$secondary-font: "Bebas Neue", sans-serif;
$tercier-font: "Open Sans", sans-serif;
$brand-font: "Dancing Script", cursive;